{
    "presets": [
       ["@babel/preset-react", {"runtime": "automatic"}],
        "@babel/preset-typescript",
        "@babel/preset-flow",
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": ["@babel/plugin-syntax-jsx"]
}